* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Exo', sans-serif;
}

body .container {
    margin-top: 70px;
}

a {
    text-decoration: none;
}

.margen-interno {
    padding: 0 50px;
}

/*---- PARTICLES ----*/
#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}


/*---- HEADER ----*/
.header {
    /*background: url(../img/developer_team.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;*/

    display: flex;
    flex-direction: column;
}

    .menu {
        background: #fff;
        height: 60px;
        width: 100%;
        /*border-bottom: 1px solid rgba(119, 172, 241, .2);*/
        box-shadow: 0px -4px 14px 10px #293B5F1a;
        
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
        .logo {
            /*background: #3edbf0;*/
        }

            .nav i {
                margin-right: 8px;
            }

            .logo a {
                color: #293B5F;
                font-size: 30px;
            }

            .logo a:hover {
                color: #B2AB8C;
            }

        .nav {
            /*background: #3edbf0;*/
        }

            .nav a {
                color: #293B5F;
                padding: 0 10px;
            }

            .nav a:hover {
                color: #B2AB8C;
            }

            .nav ul li {
                display: inline-block;
            }

    .texto-principal {
        /*background: #77acf166;*/
        height: 580px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

        h1 {
            /*background: #3edbf0;*/
            color: #77acf1;
            text-align: center;
            font-size: 21px;
            font-weight: 300;
            line-height: 1.6;
        }


/*---- SECTION ----*/
.section {
    /*background: #f7f7f7;*/

    display: flex;
}
    .articulos {
        background: #f7f7f7;
        flex: 1 1 70%;

        display: flex;
        flex-wrap: wrap;
    }

        .article {
            background: chartreuse;
            flex: 1 1 45%;
            color: #444;
            font-size: 13px;
            letter-spacing: 1px;
            margin: 10px 10px 0 0;
        }

        .article img {
            width: 100%;
        }

        .article a {
            color: #fff;
            font-size: 13px;
            padding: 10px;
            background: #000;
            margin: 10px 0;
            display: inline-block;
        }

        .article a:hover {
            background: #546cc3;
        }

        h3 {
            color: #FFF;
            font-size: 13px;
            padding: 10px 0;
            margin-top: -80px;
        }

        h2 {
            font-size: 25px;
            text-transform: uppercase;
            padding: 0 0 10px 0;
            color: #FFF;
        }

        .navegation {
            background: #70a3c4;
            flex-basis: 100%;
            margin: 10px 10px 0 0;
        }

            .navegation a {
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }

    .aside {
        background: #77acf1;
        flex: 1 1 30%;
        margin: 10px 5px 10px 0;

        /*display: flex;
        flex-direction: column;*/
    }

        .aside img {
            width: 100%;
        }

        h4 {
            background: #000;
            color: #fff;
            padding: 10px;
            text-transform: uppercase;
        }

        .publicidad {
            /*background: #3edbf0;*/
        }


/*---- FOOTER ----*/
.footer {
    background: #8886ca;
}

/*452*/
@media all and (max-width: 800px) {
    .menu {
        flex-direction: column;
        height: auto;
    }

    .section {
        flex-direction: column;
    }

    .aside {
        display: flex;
        justify-content: center;
    }
}

/*@media all and (max-width: 600px) {
    .articulos {
        flex-direction: column;
    }
}*/

@media all and (max-width: 452px) {
    .aside {
        flex-direction: column;
    }
}